#equipe {
    --nb-membre-annecy: 6;
    --nb-membre-chambery: 5;
}

.Outlet section {
    padding: 50px 0;
}


#infos {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#infos h2 {
    margin: 0;
}
#infos .hr {
    margin: 30px 0;
}
#infos p {
    text-align: justify;
}


#projet {
    width: 80vw;
    display: flex;
    gap: 80px;
}
.projet-left, .projet-right {
    width: 50%;
}
.projet-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.projet-left img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.projet-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}
.projet-right .hr {
    margin: 30px 0;
}


#equipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
#equipe .hr {
    margin: 30px 0;
}
#equipe .bureaux {
    width: 100%;
    --bureau-height : 800px;
    --membre-img-width: 200px;
    --vitesse : 15s;
    height: var(--bureau-height);
}
#equipe .photo-br {
    width: 50%;
    height: calc(var(--bureau-height) / 2);
    object-fit: cover;
    z-index: 1;
}
.equipe-annecy {
    display: flex;
}
.equipe-chambery {
    display: flex;
    flex-direction: row-reverse;
}
.org-br {
    width: 50%;
    height: calc(var(--bureau-height) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.org-br h3 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.list-br {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    gap: 100px;
    z-index: 10;
}
.membre-br {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membre-br img {
    width: var(--membre-img-width);
    height: var(--membre-img-width);
    object-fit: cover;
    border-radius: 50%;
}
.prenom-br {
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
.mini-hr {
    background-color: var(--secondary-color);
    height: 2px;
    width: 10px;
    margin: 5px 0;
}
.role-br {
    font-weight: 300;
}


.equipe-annecy .list-br {
    animation : Scroll-left var(--vitesse) linear infinite;
}
.equipe-chambery .list-br {
    animation : Scroll-right var(--vitesse) linear infinite;
}
@keyframes Scroll-left {
    0% {transform: translateX(0%); }
    100% {
        transform: translateX(calc((var(--membre-img-width) + 100px) * var(--nb-membre-annecy) * -1)); 
    }
}
@keyframes Scroll-right {
    0% {
        transform: translateX(calc((var(--membre-img-width) + 100px) * var(--nb-membre-chambery) * -1)); 
    }
    100% {transform: translateX(0%); }
}

@media (max-width: 800px) {
    #projet {
        flex-direction: column;
        gap: 30px;
    }
    .projet-left, .projet-right {
        width: 100%;
    }

    #equipe .bureaux {
        --bureau-height : 90vh;
        --membre-img-width: calc(var(--bureau-height) / 9);
        --vitesse: 10s;
    }
    #equipe .photo-br {
        width: 100%;
        height: calc(var(--bureau-height) / 4);
    }
    .bureau {
        flex-direction: column;
    }
    .org-br {
        width: 100%;
        height: calc(var(--bureau-height) / 4);
        gap: 15px;
        padding-bottom: 0;
    }
    .org-br h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .membre-br {
        font-size: 15px;
        white-space: nowrap;
    }
    .prenom-br {
        margin-top: 2px;
    }
}